/* Custom properties */
:root {
  --nav-item-font-family: var(--font-family-title);
  --nav-item-font-weight: var(--font-weight-bold);
  --nav-item-font-size: var(--font-size-medium);
  --nav-item-letter-spacing: 4%;
  --nav-item-display: inline-block;
  --nav-item-margin: 0 0 calc(3 * var(--font-size-medium)) 0;
  --nav-item-link-hover: var(--color-primary);
}

/* Targeting the navbar-menu class */
.navbar-menu {
  float: right; /* Let it float to the right */
}

/* Targeting the nav class */
.nav {
  margin: 0; /* Set margin on all sides to 0 */
  padding: 0; /* Set padding on all sides to 0 */
  text-align: center; /* Center align the text */
}

/* Targeting the list styling within the nav class */
.nav ul {
  /* No styling applied */
}

/* Targeting the nav-item class within the nav class */
.nav .nav-item {
  font-family: var(--nav-item-font-family);
  font-weight: var(--nav-item-font-weight);
  font-size: var(--nav-item-font-size);
  letter-spacing: var(--nav-item-letter-spacing);
  display: var(--nav-item-display);
  margin: var(--nav-item-margin);
}

/* Targeting the nav-link class within the nav class */
.nav .nav-item .nav-link {
  display: block;
  padding: calc(0.5 * var(--font-size-medium)) var(--font-size-medium);
}

/* Hover state for nav-link class within nav class */
.nav .nav-item .nav-link:hover {
  color: var(--nav-item-link-hover);
}
